# Moodle 5.2 Environment Variables
# Copy this file to .env and fill in your values

# PostgreSQL Database Configuration
POSTGRES_VERSION=18.4
POSTGRES_HOST=postgres
POSTGRES_DB=moodle
POSTGRES_USER=moodleadmin
POSTGRES_PASSWORD=change_me
ALLOW_EMPTY_PASSWORD=false
PGDATA=/var/lib/postgresql/data/pgdata

# Moodle Configuration
MOODLE_VERSION=502
MOODLE_LANG=fr
MOODLE_ROOT=127.0.0.1
MOODLE_DBTYPE=pgsql
MOODLE_DBHOST=postgres
MOODLE_DBNAME=moodle
MOODLE_DBUSER=moodleadmin
MOODLE_DBPASS=${POSTGRES_PASSWORD}
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASS=${POSTGRES_PASSWORD}
MOODLE_ADMIN_EMAIL=admin@example.com
MOODLE_SUPPORT_EMAIL=support@example.com
MOODLE_FULLNAME=Moodle
MOODLE_SHORTNAME=Moodle

# PGAdmin Configuration
ADMIN_EMAIL=admin@pgadmin.com
ADMIN_PASSWORD=${POSTGRES_PASSWORD}

# Redis Configuration
REDIS_VERSION=8.8.0
REDIS_HOST=127.0.0.1,
REDIS_PORT= "6379",
REDIS_USERNAME= "default",
REDIS_SSL= "False",
REDIS_CA_PATH= "",
REDIS_SSL_KEYFILE= "",
REDIS_SSL_CERTFILE= "",
REDIS_CERT_REQS= "required",
REDIS_CA_CERTS= "",
REDIS_CLUSTER_MODE= "False",
REDIS_PWD= ""

# RedisInsight Configuration
REDISINSIGHT_VERSION=3.6
